body {
  color: #c0c0c0;
}

.contact {
  width: 640px;
  height: 720px;
  margin: auto;
}

.doodle-signup {
  width: 640px;
  height: 72rem;
  margin: auto;
}

/* .col {
  overflow: hidden;
} */

.btn {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-dark {
  color: #c0c0c0;
  background-color: black;
}

.btn-selected {
  background-color: #444; /* Darker background to show it's selected */
  border-color: #666; /* Change border color */
  color: #fff; /* Text color */
}

.btn-selected:focus, .btn-selected:active {
  outline: none; /* Remove outline */
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5); /* Add glow effect */
}

.title {
  width: 90% !important; 
  padding-right: 10% !important;
  padding-bottom: 10px !important;
  margin-bottom: 3% !important;
}

/* .custom-form {
  width: 100%;
  max-width: 640px;
  margin: auto;
  padding: 20px;
  background-color: black;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
} */

.dropdown-navbar {
  display: none;
}

.dropdown-item.active {
  background-color: #444 !important;
}

.dropdown-item:active {
  background-color: #666 !important;
}

.full-navbar {
  display: inline;
}

.btn-primary {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}

.patreon-button:hover {
  background-color: #c0c0c0;
  border-color: #c0c0c0;
  color: #000;
}

.icons.text-light {
  display: inline-block;
  line-height: 0; /* Removes extra spacing below the icons */
}

.icons.text-light i {
  margin: 0; /* Ensures no extra margin around icons */
  padding: 0; /* Ensures no extra padding around icons */
  vertical-align: middle; /* Aligns icons vertically in the middle */
}

.icons.text-light i:hover {
  color: #c0c0c0; /* Optional: change color on hover */
}

.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 80px;
}

.release-title, .release-description {
  margin-bottom: 20px;
}

.carousel {
  max-width: 500px;
  margin: auto;
  height: auto;
  margin-bottom: 20px;
}

/* Ensure square image display */
.carousel-item img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover; /* Ensure the images cover the full area without distortion */
}

/* Remove default small Bootstrap arrow icons */
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-image: none; /* Remove the default Bootstrap arrow background */
}

/* Thicker Previous Arrow */
.carousel-control-prev-icon {
  border: solid white;  /* Set the color of the arrow */
  border-width: 0 0.5rem 0.5rem 0;  /* Control the thickness of the arrow */
  display: inline-block;
  padding: 15px;  /* Control the size of the arrow */
  transform: rotate(135deg);  /* Rotate to create the left arrow shape */
}

/* Thicker Next Arrow */
.carousel-control-next-icon {
  border: solid white;  /* Set the color of the arrow */
  border-width: 0 0.5rem 0.5rem 0;  /* Control the thickness of the arrow */
  display: inline-block;
  padding: 15px;  /* Control the size of the arrow */
  transform: rotate(-45deg);  /* Rotate to create the right arrow shape */
}

/* Adjust the positioning of the arrows to be outside the carousel */
.carousel-control-prev, .carousel-control-next {
  width: 5%;  /* Set width for arrow container */
}

.carousel-control-prev {
  left: -50px;  /* Position the left arrow outside the image */
}

.carousel-control-next {
  right: -50px;  /* Position the right arrow outside the image */
}

/* Optionally, make the arrows even bigger when hovered */
.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
  border-width: 0 0.7rem 0.7rem 0;  /* Increase thickness when hovered */
}

/* Music player styles */
.music-player {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 32rem;
}

.play-btn {
  width: 3.5rem;
  margin-right: 10px;
  cursor: pointer;
}

.progress-bar-container {
  width: 100%;
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 10px;
}

.progress-bar {
  height: 10px;
  background-color: white;
  width: 0%;
}

@media (max-width: 768px) {
  .row {
      margin-left: 0;
      margin-right: 0;
  }
  .dropdown-navbar {
    display: flex;
  }
  .full-navbar, .news-img {
    display: none;
  }
  .album-art {
      width: 100%;
      height: auto;
  }
  .release-title {
      font-size: 1.5rem;
  }
  .release-description {
      font-size: 1rem;
  }
  .carousel-item img {
    max-width: 90%;
    margin: auto;
  }
  .carousel-control-prev, .carousel-control-next {
    width: 10%; /* Wider arrow area for better usability on smaller screens */
  }
  .carousel-control-prev {
    left: -20px; /* Bring the left arrow closer */
  }
  .carousel-control-next {
    right: -20px; /* Bring the right arrow closer */
  }
  .contact {
    height: 60rem;
  }
  .doodle-signup {
    height: 90rem;
  }
}
